@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');


* {
  color: #5a5757;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebe1d0;
  box-sizing: border-box;
}

/*Points Page*/

.points-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 12%;
}

.points-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uk-nsbe-img {
  width: 290px;
  height: 62px;
  margin-left: 15px;
}

.points-title {
  margin-top: 50px;
  color: #5D4A28;
  font-weight:600;
}

.points-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points-form > input {
  width: 255px;
  height: 50px;
  border-radius: 10px;
}

.points-form > button {
  width: 255px;
  height: 52px;
  color: #ebe1d0;
  background-color: #5D4A28;
  font-weight: 400;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.points-form > button:hover {
  background-color: #938264;
  
}

.points-input {
  background-color: #ebe1d0;
  border-color: #5D4A28;
  /*background-color: #d8f0db;*/
}

.points-input::placeholder {
  text-align: center;
  color: #8a929c;
}

.points-value {
  text-align: center;
  margin-top: 0px;
  font-size: 70px;
  color: #5D4A28;
}

.points-error {
  text-align: center;
}


  /*App Page------------*/

.surface {
  background-color: rgb(154, 159, 159);
  height: max-content;
  font-family: "Inter";
}

.hor-nav {
  display: flex;
  background-color: azure;
}

.hor-nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.hor-nav > ul > li {
  padding: 10px;
}

.vert-nav {
  display: flex;
  flex-direction: column;
  background-color: bisque;
}

.vert-nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vert-nav > ul > li {
  padding: 10px;
}

.nsbe-logo {
  max-width: 180px;
}